:root {
  /* colors */
  --primary-color: rgb(230, 173, 182);
  --main-button-color: rgb(230, 173, 182);
  --main-button-hover: black;
  --font-hover-button-color: rgb(230, 173, 182);
  --nav-a-hover: black;
  --success-color: #2ecc71;
  --error-color: #e74c3c;

  /* outline */
  --outline-radius: 0.75rem;

  /* font-sizes */
  font-size: 20px;
  --fs-xl: clamp(3rem, 10vw + 1rem, 10rem);
  --fs-l: clamp(2rem, 2vw + 1rem, 2.5rem);
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-400: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  :after,
  :before {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
  }
}

.container {
  padding: 5rem 1rem 0 1rem;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  height: 100%;
}

main {
  max-width: 1400px;
  margin: auto;
}

.banner {
  display: flex;
  flex-direction: column;
  /* height: 50vh; */
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 0 1rem;
}

@media screen and (max-width: 731px) {
  .banner {
    padding-top: 5rem;
  }
}

@media screen and (max-width: 461px) {
  .banner {
    padding-top: 8rem;
  }
}

.banner h2 {
  font-size: var(--fs-xl);
}

@media screen and (max-width: 462px) {
  .banner h2 {
    margin-bottom: 1rem;
  }
}

.section-subtitle {
  font-size: var(--fs-600);
}

@media screen and (max-width: 462px) {
  .section-subtitle {
    font-size: var(--fs-500);
  }
}

@media screen and (max-width: 345px) {
  .section-subtitle {
    font-size: var(--fs-400);
    margin-bottom: 2rem;
  }
}

.button {
  background-color: var(--main-button-color);
  border: 1px solid transparent;
  border-radius: var(--outline-radius);
  cursor: pointer;
  font-size: var(--fs-600);
  color: var(--main-button-hover);
  /* line-height: 1.5rem; */
  /* padding: 0.75rem 1.2rem; */
  text-align: center;
  text-decoration: none var(--main-) solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

@media screen and (max-width: 769px) {
  .button {
    padding: 0.5rem;
  }
}

.button:hover,
.button:focus {
  background: var(--main-button-hover);
  color: var(--font-hover-button-color);
}

.button:focus {
  box-shadow: none;
  outline: 2px solid var(--main-button-outline-color);
  outline-offset: 2px;
}

@media screen and (min-width: 768px) {
  .button {
    padding: 0.75rem 1.5rem;
  }
}

.nav-header {
  background: var(--primary-color);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
}

h1 {
  grid-column: 2 / 3;
  font-size: var(--fs-l);
}

/* hamburger start */

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  right: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid var(--main-button-hover);
  border-radius: var(--outline-radius);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/* hamburger end */

/* mobile nav start */

nav {
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  background: var(--primary-color);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1rem;
  /* padding: 0.5rem; */
}

nav a {
  color: var(--main-button-hover);
  text-decoration: none;
  font-size: var(--fs-400);
  opacity: 0;
  text-transform: uppercase;
  transition: opacity 150ms ease-in-out;
  padding: 0.5rem;
  border: 2px solid transparent;
}

nav a:hover,
nav a:focus {
  outline: none;
  border: 2px solid var(--main-button-hover);
  border-radius: var(--outline-radius);
}

/* mobile nav end */

/* font size adjustment start */

@media screen and (min-width: 1358px) {
  nav a {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1649px) {
  nav a {
    font-size: var(--fs-500);
  }
}
/* font size adjustment end */

/* mobile hidden menu start*/

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 200ms;
}

/* mobile hidden menu end */

/* full screen nav start */

@media screen and (min-width: 1100px) {
  .nav-toggle-label {
    display: none;
  }

  .nav-header {
    display: grid;
    grid-template-columns: 0.5fr auto minmax(600px, 3fr) 0.5fr;
    transition: background-color 0.3s ease-in-out;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
  }

  h1 {
    grid-column: 2 / 3;
  }

  nav {
    /* Edge support: unset all nav styles*/
    position: relative;
    text-align: right;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a:before {
    content: "";
    display: block;
    height: 5px;
    background: var(--main-button-hover);
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  nav a:focus {
    border: none;
  }

  nav a:focus::before {
    transform: scale(1, 1);
  }
}

/* full screen nav end */

.screenreader-text {
  height: 1px;
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  padding: 0.3rem;
}

.screenreader-text:focus {
  display: inline-block;
  height: auto;
  margin: auto;
  position: static;
  width: auto;
  outline: none;
  border: 2px solid var(--main-button-hover);
  border-radius: var(--outline-radius);
  color: black;
  text-decoration: none;
}

/* certifications wrap start */

.img-container a {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

img {
  width: 100%;
  padding: 0.5rem;
  /* width: clamp(320px, calc(50% - 2rem), 50rem); */
}

@media screen and (min-width: 1000px) {
  img {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* certifications wrap end */

.primary-skills {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  gap: 2em;
}

.card {
  border: 2px solid var(--primary-color);
  border-radius: var(--outline-radius);
}

/* .card h3 {
  font-size: var(--fs-500);
} */

/* .card li {
  font-size: var(--fs-400);
} */

.card-title {
  background: var(--primary-color);
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.4rem;
}

.card-list {
  padding: 0.4rem;
}

.card-list li {
  padding: 0.2rem;
}

.primary-skills {
  padding: 0;
}

.primary-skills ul li {
  padding: 0.5rem;
}

@media screen and (min-width: 500px) {
  .primary-skills {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
  }
}

.contact-list {
  padding: 0;
}

.contact-list,
.contact-list h3 {
  margin: 0;
}

.contact-list li {
  padding: 2rem;
}

.contact-list p,
.contact-list a {
  margin: 0;
  padding: 0.5rem;
  display: inline-block;
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
}

.contact-list a {
  word-break: break-all;
}

.contact-list a:hover {
  border-bottom: 2px solid var(--main-button-hover);
}

.contact-list a:focus {
  outline: none;
  border: 2px solid var(--main-button-hover);
  border-radius: var(--outline-radius);
}

.contact-types {
  background: var(--primary-color);
  border-top-left-radius: var(--outline-radius);
  border-top-right-radius: var(--outline-radius);
}

.contact-form {
  border: 2px solid var(--primary-color);
  border-bottom-left-radius: var(--outline-radius);
  border-bottom-right-radius: var(--outline-radius);
}

@media screen and (min-width: 650px) {
  .contact-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
  }
  /* this isnt working */
  .contact-types {
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--outline-radius);
  }

  .contact-form {
    border-top-right-radius: var(--outline-radius);
    border-bottom-left-radius: 0;
  }
}

form {
  padding: 2rem;
}

.form-section {
  padding: 0.5rem;
}

.form-section label {
  display: block;
}

::-webkit-input-placeholder {
  /* Edge */
  font-size: var(--fs-400);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: var(--fs-400);
}

::placeholder {
  font-size: var(--fs-400);
}

input,
textarea {
  padding: 0.75rem 1.2rem;
  border: 2px solid #f0f0f0;
  border-radius: var(--outline-radius);
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--main-button-hover);
  border-radius: var(--outline-radius);
}

textarea {
  height: 15rem;
}

.form-section small {
  color: var(--error-color);
  bottom: 0;
  left: 0;
  visibility: hidden;
  padding-top: 0.5rem;
}

.form-section.success input,
.form-section.success textarea {
  border-color: var(--success-color);
}

.form-section.error input,
.form-section.error textarea {
  border-color: var(--error-color);
}

.form-section.error small {
  visibility: visible;
  display: block;
}

.form-btn small {
  visibility: hidden;
}

.form-btn.success small {
  visibility: visible;
  color: var(--success-color);
}

/* footer start */

.primary-footer {
  background: var(--primary-color);
  width: 100%;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
}

.primary-footer p {
  margin-left: auto;
  margin-right: auto;
}

.primary-footer ul {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 2rem;
  padding: 0;
}

.primary-footer a {
  color: var(--main-button-hover);
  text-decoration: none;
  color: black;
  border: 2px solid transparent;
  padding: 0.5rem;
}

.primary-footer a:hover {
  border-bottom: 2px solid var(--main-button-hover);
}

.primary-footer a:focus {
  outline: none;
  border: 2px solid var(--main-button-hover);
  border-radius: var(--outline-radius);
  color: black;
  text-decoration: none;
}

/* footer end */
